<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!-- 控制台打印 -->
    <appender name="consoleApp" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n
            </pattern>
        </layout>
    </appender>

    <!--输出 INFO 级别及以上日志-->
    <appender name="fileInfoApp" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n
            </pattern>
            <charset>utf-8</charset>
        </encoder>
        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 路径 -->
            <fileNamePattern>/app_log/info/app.info.%d.log</fileNamePattern>
            <!-- 控制保留的归档文件的最大数量，滚动策略是每天，保存10天 -->
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
    </appender>

    <!--输出 ERROR 级别日志-->
    <appender name="fileErrorApp" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 设置滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 路径 -->
            <fileNamePattern>/app_log/error/app.err.%d.log</fileNamePattern>
            <!-- 控制保留的归档文件的最大数量，滚动策略是每天，保存10天 -->
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
    </appender>

    <!--myibatis log configure-->
    <logger name="com.apache.ibatis" level="DEBUG" />
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />
    <logger name="org.springframework.web" level="WARN" />
    <!--过滤掉 druid 非 warn 日志-->
    <logger name="com.alibaba.druid" level="WARN"></logger>

    <!--输出 com.example.sp.mapper 下的日志 -->
    <logger name="com.hone.dao" level="DEBUG" />

    <!--输出日志级别为 INFO 及以上-->
    <root level="INFO">
        <appender-ref ref="consoleApp"/>
        <appender-ref ref="fileInfoApp"/>
        <appender-ref ref="fileErrorApp"/>
    </root>

</configuration>