<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hone.dao.HoAccountBalanceDao">

    <resultMap id="hoAccountBalanceResultMap" type="com.hone.entity.HoAccountBalance">
        <id column="id" property="id"/> 
        <result column="user_id" property="userId"/> 
        <result column="avaiable_balance" property="avaiableBalance"/> 
        <result column="create_date" property="createDate"/> 
        <result column="update_date" property="updateDate"/> 
        <result column="enable_flag" property="enableFlag"/> 

        
        
    </resultMap>

    <sql id="hoAccountBalanceColumns">
        a.id AS "id",
        a.user_id AS "userId",
        a.avaiable_balance AS "avaiableBalance",
        a.create_date AS "createDate",
        a.update_date AS "updateDate",
        a.enable_flag AS "enableFlag"
    </sql>

    <sql id="hoAccountBalanceJoins">
        
    </sql>


    <select id="findUniqueByProperty" resultType="com.hone.entity.HoAccountBalance" statementType="STATEMENT">
        select <include refid="hoAccountBalanceColumns"></include> FROM ho_account_balance a  where a.${propertyName} = '${value}'
    </select>

</mapper>