<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hone.dao.HoCollectDao">

    <resultMap id="hoCollectResultMap" type="com.hone.entity.HoCollect">
        <id column="id" property="id"/> 
        <result column="user_id" property="userId"/> 
        <result column="object_id" property="objectId"/> 
        <result column="collect_type" property="collectType"/> 
        <result column="create_date" property="createDate"/> 
        <result column="update_date" property="updateDate"/> 
        <result column="enable_flag" property="enableFlag"/> 

        
        
    </resultMap>

    <sql id="hoCollectColumns">
        a.id AS "id",
        a.user_id AS "userId",
        a.object_id AS "objectId",
        a.collect_type AS "collectType",
        a.create_date AS "createDate",
        a.update_date AS "updateDate",
        a.enable_flag AS "enableFlag"
    </sql>

    <sql id="hoCollectJoins">
        
    </sql>


    <select id="listForApi" resultType="com.hone.entity.HoCollect">
        select
        a.id AS "id",
        a.user_id AS "userId",
        a.object_id AS "objectId",
        a.collect_type AS "collectType",
        a.create_date AS "createDate",
        b.wx_name as 'wxName',
        b.avatar_url as 'headPic',
        d.dict_value as 'platName',
        d.dict_pic as 'platPic',
        s.fans_nums as 'fansNums',
        s.thumb_up_nums as 'thumbUpNums',
        b.gender as 'gender',
        z.tag as 'tag'
        from ho_collect a
        left join ho_user_basic b on a.object_id = b.id
        left join ho_user_star s on s.user_id=b.id
        left join ho_dict d on d.id=s.platform_id
        left join (
            select a.user_id as 'userId',GROUP_CONCAT(d.dict_value) as 'tag'
            from ho_user_tag a
            left join ho_dict d on d.id =a.dict_id
            where d.enable_flag='1'
            group by a.user_id
        )z on z.userId=a.object_id
        where a.enable_flag='1' and a.user_id=#{userId}
        order by a.create_date desc
    </select>


</mapper>