<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hone.dao.HoMarketerDao">

    <resultMap id="hoMarketerResultMap" type="com.hone.entity.HoMarketer">
        <id column="id" property="id"/> 
        <result column="market_name" property="marketName"/> 
        <result column="open_id" property="openId"/> 
        <result column="user_code" property="userCode"/>
        <result column="qrcode_url" property="qrcodeUrl"/>
        <result column="create_date" property="createDate"/> 
        <result column="update_date" property="updateDate"/> 
        <result column="enable_flag" property="enableFlag"/> 

        
        
    </resultMap>

    <sql id="hoMarketerColumns">
        a.id AS "id",
        a.market_name AS "marketName",
        a.open_id AS "openId",
        a.user_code AS "userCode",
        a.qrcode_url AS "qrcodeUrl",
        a.create_date AS "createDate",
        a.update_date AS "updateDate",
        a.enable_flag AS "enableFlag"
    </sql>

    <sql id="hoMarketerJoins">
        
    </sql>



    <select id="findListBackend" resultType="com.hone.entity.HoMarketer">
      SELECT <include refid="hoMarketerColumns"/> from ho_marketer a where a.enable_flag='1' order by a.create_date desc
    </select>

    <select id="countInviteNums" resultType="java.lang.String">
      select count(1) as 'nums' from ho_user_basic a where a.marketer_id=#{marketerId} and a.if_approved='1'
    </select>

    <select id="findUniqueByProperty" resultType="com.hone.entity.HoMarketer" statementType="STATEMENT">
        select <include refid="hoMarketerColumns"></include> FROM ho_marketer a  where a.${propertyName} = '${value}'
    </select>


</mapper>