<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hone.dao.HoOffersDao">

    <resultMap id="hoOffersResultMap" type="com.hone.entity.HoOffers">
        <id column="id" property="id"/> 
        <result column="fans_num" property="fansNum"/> 
        <result column="gender" property="gender"/> 
        <result column="imgs" property="imgs"/> 
        <result column="shop_plate" property="shopPlate"/> 
        <result column="title" property="title"/> 
        <result column="user_plate" property="userPlate"/> 
        <result column="price" property="price"/> 
        <result column="remarks" property="remarks"/> 
        <result column="status" property="status"/>
        <result column="order_no" property="orderNo"/>
        <result column="offer_template_id" property="offerTemplateId"/> 
        <result column="user_id" property="userId"/> 
        <result column="create_date" property="createDate"/> 
        <result column="update_date" property="updateDate"/> 
        <result column="enable_flag" property="enableFlag"/> 

        
        
    </resultMap>

    <sql id="hoOffersColumns">
        a.id AS "id",
        a.fans_num AS "fansNum",
        a.gender AS "gender",
        a.imgs AS "imgs",
        a.shop_plate AS "shopPlate",
        a.title AS "title",
        a.user_plate AS "userPlate",
        a.price AS "price",
        a.remarks AS "remarks",
        a.status AS "status",
        a.order_no AS "orderNo",
        a.offer_template_id AS "offerTemplateId",
        a.user_id AS "userId",
        a.create_date AS "createDate",
        a.update_date AS "updateDate",
        a.enable_flag AS "enableFlag"
    </sql>

    <sql id="hoOffersJoins">
        
    </sql>


    <select id="listForApiNoTag" resultType="com.hone.applet.repo.HoOffersListRepo">
        select
        b.wx_name as 'wxName',
        b.avatar_url as 'headPic',
        a.title as 'offerTitle',
        a.imgs as 'offerPic',
        a.fans_num as 'fanNums',
        a.price as 'price',
        a.id as 'id',
        c.offersTag as 'tag'
        from ho_offers a
        left join ho_user_basic b on a.user_id = b.id
        left join (
        select
        a.offer_id as 'offerId',
        GROUP_CONCAT(b.dict_value) as 'offersTag',
        GROUP_CONCAT(b.id) as 'offersTagId'
        from ho_offer_tag a
        left join  ho_dict b on b.id =a.dict_id
        group by a.offer_id
        ) c on c.offerId=a.id
        where
        1=1
        and a.status='3'
        order by a.create_date desc
    </select>


    <select id="listForApiTag" resultType="com.hone.applet.repo.HoOffersListRepo">

       select
        b.wx_name as 'wxName',
        b.avatar_url as 'headPic',
        a.title as 'offerTitle',
        a.imgs as 'offerPic',
        a.fans_num as 'fanNums',
        a.price as 'price',
        a.id as 'id',
        c.offersTag as 'tag',
        a.remarks as 'remarks',
        h.dict_value as 'platName',
        h.dict_pic as 'platPic'
        from ho_offers a
        left join ho_user_basic b on a.user_id = b.id
        left join ho_dict h on h.id=a.user_plate
        left join (
        select
        a.offer_id as 'offerId',
        GROUP_CONCAT(b.dict_value) as 'offersTag',
        GROUP_CONCAT(b.id) as 'offersTagId'
        from ho_offer_tag a
        left join  ho_dict b on b.id =a.dict_id
        group by a.offer_id
        ) c on c.offerId=a.id
        where
        1=1
        and  a.status='AP'
        <if test="platIdsList != null and platIdsList.size > 0">
            and  a.user_plate in
            <foreach collection="platIdsList" item="platId" open="(" separator="," close=")">#{platId}</foreach>
        </if>
        order by ${orderBy}
    </select>

    <select id="detailsById" resultType="com.hone.applet.repo.HoOfferInfoRepo">
        select
        b.wx_name as 'wxName',
        b.avatar_url as 'headPic',
        a.shop_plate as 'shopPlate',
        d.dict_value as 'starPlate',
        a.fans_num as 'fanNums',
        a.title as 'offerTitle',
        a.remarks as 'remarks',
        a.imgs as 'offerPic',
        a.status as 'status'
        from ho_offers a
        left join ho_user_basic b on a.user_id=b.id
        left join ho_dict d on d.id=a.user_plate
        where a.id=#{id}
    </select>


    <select id="starSnatchList" resultType="com.hone.applet.repo.HoStarSnatchOfferRepo">
         select
         a.id as 'id',
         c.avatar_url as 'headPic',
         c.wx_name as 'wxName',
         a.title as 'title',
         a.fans_num as 'fansNum',
         z.tags as 'tags'
         from ho_offers a
         left join ho_snatch_offer b on a.id=b.offer_id
         left join ho_user_basic c on c.id=a.user_id
         left join
         (
         select a.offer_id as 'offerId' ,GROUP_CONCAT(b.dict_value) as 'tags'
         from ho_offer_tag a left join ho_dict b on a.dict_id=b.id group by a.offer_id
         ) z on z.offerId=a.id
         where b.user_id=#{starUserId}
        <if test="type!=null and type=='2'.toString()">
                  <!--进行中-->
            and a.status='LK'
        </if>
        <if test="type!=null and type=='3'.toString()">
                 <!--已完成-->
            and a.status in ('FN','CO')
        </if>
         order by b.create_date desc
    </select>



    <select id="sellerOfferList" resultType="com.hone.applet.repo.HoSellerOfferListRepo">
        select
        a.id as 'id',
        b.wx_name as 'wxName',
        b.avatar_url as 'headPic',
        a.imgs as 'pic',
        a.fans_num as 'fansNum',
        c.title as 'title',
        z.tags as 'tags',
        <if test="type!=null and (type=='LK'.toString() or type=='FN'.toString())">
            b.phone_no as 'phoneNo',
            b.id as 'starIds',
        </if>
        a.status as 'status'
        from ho_offers a
        <if test="type!=null and (type=='CR'.toString() or type=='AP'.toString())">
            left join ho_user_basic b on a.user_id=b.id
        </if>
        <if test="type!=null and (type=='LK'.toString() or type=='FN'.toString())">
            left join ho_snatch_offer d on d.offer_id = a.id and d.if_select='1'
            left join ho_user_basic b on b.id=d.user_id
        </if>
        left join ho_offer_template c on c.id=a.offer_template_id
        left join
         (
         select a.offer_id as 'offerId' ,GROUP_CONCAT(b.dict_value) as 'tags'
         from ho_offer_tag a left join ho_dict b on a.dict_id=b.id group by a.offer_id
         ) z on z.offerId=a.id
        where
        a.user_id=#{userId}
        and a.status=#{type}
        order by a.create_date desc
    </select>


    <select id="listForBackend" resultType="com.hone.pc.backend.repo.OfferListRepo">
        select
            a.id as 'id',
            b.wx_name as 'wxName',
            b.phone_no as 'sellerPhone',
            b.avatar_url as 'headPic',
            d.dict_value as 'platName',
            a.title as 'title',
            a.price as 'price',
            a.remarks as 'infos',
            a.create_date as 'createDate',
            a.imgs as 'pics',
            a.order_no as 'orderNo',
            a.fans_num as 'fansNums',
            a.status as 'status',
            temp.tags as 'tags'


            from  ho_offers a
            left join ho_user_basic b on a.user_id=b.id
            left join ho_dict d on d.id=a.user_plate
            left join (
            select offer_id,GROUP_CONCAT(d.dict_value) as 'tags' from ho_offer_tag a
            left join ho_dict d on d.id=a.dict_id
            group by offer_id
            )temp on temp.offer_id=a.id
            where 1=1
            <if test="type!=null and type!=''">
                and a.status=#{type}
            </if>
            <if test="wxName!=null and wxName!=''">
                and b.wx_name like concat('%',#{wxName},'%')
            </if>
            order by a.create_date desc

    </select>


</mapper>