<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hone.dao.HoOfferTagDao">

    <resultMap id="hoOfferTagResultMap" type="com.hone.entity.HoOfferTag">
        <id column="id" property="id"/> 
        <result column="offer_id" property="offerId"/> 
        <result column="dict_id" property="dictId"/> 

        
        
    </resultMap>

    <sql id="hoOfferTagColumns">
        a.id AS "id",
        a.offer_id AS "offerId",
        a.dict_id AS "dictId"
    </sql>

    <sql id="hoOfferTagJoins">
        
    </sql>

    <select id="findStringByOfferId" resultType="java.lang.String">
       select GROUP_CONCAT(b.dict_value)
       from ho_offer_tag  a
       left join ho_dict b on b.id=a.dict_id
       where offer_id=#{offerId}
    </select>


</mapper>