<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hone.dao.HoSystemUserDao">

    <resultMap id="hoSystemUserResultMap" type="com.hone.entity.HoSystemUser">
        <id column="id" property="id"/> 
        <result column="username" property="username"/> 
        <result column="password" property="password"/> 
        <result column="role_id" property="roleId"/>
        <result column="head_pic" property="headPic"/>
        <result column="create_date" property="createDate"/> 
        <result column="update_date" property="updateDate"/> 
        <result column="enable_flag" property="enableFlag"/> 

        
        
    </resultMap>

    <sql id="hoSystemUserColumns">
        a.id AS "id",
        a.username AS "username",
        a.password AS "password",
        a.role_id AS "roleId",
        a.head_pic AS "headPic",
        a.create_date AS "createDate",
        a.update_date AS "updateDate",
        a.enable_flag AS "enableFlag"
    </sql>

    <sql id="hoSystemUserJoins">
        
    </sql>


    <select id="findByUserNameAndPass" resultType="com.hone.entity.HoSystemUser">
        SELECT <include refid="hoSystemUserColumns"/> from ho_system_user a where a.username=#{userName} and a.password=#{passWord} and a.enable_flag='1'
    </select>


</mapper>