<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hone.dao.HoUserStarDao">

    <resultMap id="hoUserStarResultMap" type="com.hone.entity.HoUserStar">
        <id column="id" property="id"/> 
        <result column="user_id" property="userId"/> 
        <result column="fans_nums" property="fansNums"/> 
        <result column="personal_imgs" property="personalImgs"/> 
        <result column="thumb_up_nums" property="thumbUpNums"/> 
        <result column="work_nums" property="workNums"/> 
        <result column="platform" property="platform"/> 
        <result column="platform_iconid" property="platformIconid"/> 
        <result column="platform_id" property="platformId"/> 
        <result column="create_date" property="createDate"/> 
        <result column="update_date" property="updateDate"/> 
        <result column="enable_flag" property="enableFlag"/> 

        
        
    </resultMap>

    <sql id="hoUserStarColumns">
        a.id AS "id",
        a.user_id AS "userId",
        a.fans_nums AS "fansNums",
        a.personal_imgs AS "personalImgs",
        a.thumb_up_nums AS "thumbUpNums",
        a.work_nums AS "workNums",
        a.platform AS "platform",
        a.platform_iconid AS "platformIconid",
        a.platform_id AS "platformId",
        a.create_date AS "createDate",
        a.update_date AS "updateDate",
        a.enable_flag AS "enableFlag"
    </sql>

    <sql id="hoUserStarJoins">
        
    </sql>


</mapper>